* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  max-width: 90%;
  margin: 0 auto;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}