.jobSection {
  margin: 40px auto;
}

.innrejobs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.innerJobcart {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  padding: 10px;
  border-radius: 6px;
  transition: all ease .5s;
}

.innerJobcart:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.jobCart {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.companyLogo {
  max-width: 150px;
}

.loveBtn {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}

.love {
  font-size: 20px;
  transition: all ease .5s;
  
}

.love:hover {
  /* background-color: red; */
  color: red;
}

.love1 {
  font-size: 20px;
  /* color: red; */
}
.love1:hover {
  font-size: 20px;
  color: red;
}


.workSite {
  color: #5c66d9;
  font-size: 15px;
  margin: 10px auto;
}

.position {
  display: flex;
  align-items: center;
  gap: 4px;
}

.title {
  margin: 10px auto;
  font-size: 20px;
}

.jobSalary {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.location {
  font-size: 16px;
}

.salary {
  font-size: 16px;
}

.buttons {
  margin-top: 10px;
  display: flex;
  gap: 30px;
}

.btn {
  padding: 5px 15px;
  background-color: #919af7;
  color: #fff;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all ease .5s;
}

.btn:hover {
  background-color: rgb(70, 79, 187);

}